<%- include('../partials/header.ejs') %>
<%- include('../partials/main_nav.ejs') %>

<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid flex-shrink-0 py-5">
    
    <!-- <div class="container mt-5">

        <form action="insert book" method="POST">
            <div class="mb-5">
                <label for="name" class="form-label">Title</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Book Name">
            </div>
        </form>

    </div> -->

    <div class="container" id="contact-page">

        <form action="" method="POST" id="contact" enctype="text/plain">

            <h1>Insert Book</h1>

            <ul>
                <li>
                    <input placeholder="Name" type="text" name="name" id="name" required>
                    <label class="visually-hidden" for="name">Name</label>
                </li>

                <li>
                    <input placeholder="Author" type="text" name="author" id="author" required>
                    <label class="visually-hidden" for="author">Email</label>
                </li>

                <li>
                    <input placeholder="Published" type="number" name="published" id="published" pattern="^[0-9]{1,4}$" required>
                    <label class="visually-hidden" for="published">Published</label>
                </li>

                <li>
                    <textarea placeholder="Description" type="text" name="description" id="description" required></textarea>
                    <label class="visually-hidden" for="description">Description</label>
                </li>
                 
                <li>
                    <input placeholder="Price" type="number" name="price" id="price" pattern=required>
                    <label class="visually-hidden" for="price">Price</label>

                <li>
                    <button type="submit" class="btn" id="form-submit">Submit</button>
                </li>
            </ul>

        </form>

    </div>


    <!-- DISPLAYS "books" COLLECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-10">
                <h1><%= title %></h1>

                <a href="/book-list/add" class="btn btn-primary" role="button">Add Book</a>
                
                </br>
                </br>
                <table class="table table-bordered table-striped table-hover">
                    <tr class="flex">
                        <th class="text-center col-1">Name</th>
                        <th class="text-center col-1">Author</th>
                        <th class="text-center col-1">Published</th>
                        <th class="text-center col-4">Description</th>
                        <th class="text-center col-1">Price</th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    </tr>
                    <% for(let count=0; count < bookList.length; count++) { %>
                        <tr>
                            <td class="text-center col-1"><%= bookList[count].name %></td>
                            <td class="text-center col-1"><%= bookList[count].author %></td>
                            <td class="text-center col-1"><%= bookList[count].published %></td>
                            <td class="text-center col-6"><%= bookList[count].description %></td>
                            <td class="text-center col-1"><%= bookList[count].price %></td>
                            <td class="text-center col-1"><a href="/book-list/edit/<%= bookList[count]._id %>" class="btn btn-primary" role="button">Edit</a></td>
                            <td class="text-center col-1"><a href="/book-list/delete/<%= bookList[count]._id %>" class="btn btn-primary" role="button">Delete</a></td>

                            

                            <!-- <button class="btn btn-primary" type="submit">
                                <i class="fas fa-edit"></i>Submit
                            </button> -->
                            
                            
                        </tr>
                    <% } %>

                </table>
            </div>
        </div>
    </div>
  </div>
</main>
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>