<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>
<!-- Main Content -->
<main>
    <div class="jumbotron jumbotron-fluid flex-shrink-0">
        <div class="container py-5">
            <h1 class="display-4">
                <%= title %>
            </h1>
            <div class="wrapper">

                <div class="container" id="contact-page">

                    <form id="contact" action="mailto:braydan.brown@ontariotechu.net" method="post"
                        enctype="text/plain">

                        <h1>Contact Form</h1>

                        <ul>
                            <li>
                                <input placeholder="Name" type="text" name="name" id="name" required>
                                <label class="visually-hidden" for="name">Name</label>
                            </li>

                            <li>
                                <input placeholder="Email Address" type="email" name="email" id="email" required>
                                <label class="visually-hidden" for="email">Email</label>
                            </li>

                            <li>
                                <input placeholder="Phone Number" type="tel" name="phone" id="phone" pattern="^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$" title="(123)-456-7890"required>
                                <label class="visually-hidden" for="phone">Phone</label>
                            </li>

                            <li>
                                <textarea placeholder="Message" type="text" name="message" id="message" required></textarea>
                                <label class="visually-hidden" for="message">Message</label>
                            </li>

                            <li>
                                <button type="submit" class="btn" id="form-submit">Submit</button>
                            </li>
                        </ul>

                    </form>

                </div>


            </div>
        </div>
    </div>
</main>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>