<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid flex-shrink-0">
    <div class="container py-5">
      <h1 class="display-4"><%= title %></h1>

      <div class="container">
        <div class="card-deck">
          
          <div class="row g-2">
            <div class="col d-flex align-items-stretch flex-column">

              <div class="card h-100">
                <img class="card-img-top img-fluid" src="/images/TicTacToe.jpg" alt="Tic Tac Toe Example" width="500" height="500">
                
                <div class="card-body d-flex flex-column">
                  <p class="card-title h5">Tic Tac Toe Game</p>
                  <p class="card-text">Tic tac toe game with dynamically generated board size based on user input.</p>
                  <p class="card-text mt-auto mr-auto"><small class="text-muted">C++</small></p>
                </div>

              </div>
            </div>

            <div class="col d-flex align-items-stretch flex-column">
              <div class="card h-100 ">
                
                <img class="card-img-top img-fluid" src="/images/calendar.jpg" alt="Calendar Example">
                <div class="card-body d-flex flex-column">
                  <p class="card-title h5">Calendar App</p>
                  <p class="card-text">Generates a calender for a specified year or month.</p>
                  <p class="card-text mt-auto mr-auto"><small class="text-muted">C++</small></p>
                </div>

              </div>
            </div>
          </div>

          <div class="row g-2">
            <div class="col d-flex align-items-stretch flex-column">

              <div class="card h-100">
                
                <img class="card-img-top img-fluid" src="/images/Python_Linked_Lists.PNG" alt="Intersect List Example">
                <div class="card-body d-flex flex-column">
                  <p class="card-title h5">Intersect Lists</h5>
                  <p class="card-text">Intersect two lists, outputting the intersected numbers to a new list.</p>
                  <p class="card-text mt-auto mr-auto"><small class="text-muted">Python</small></p>
                </div>

              </div>
            </div>
          
          
            <div class="col d-flex align-items-stretch flex-column">
              <div class="card h-100">
                
                <img class="card-img-top img-fluid" src="/images/JS_RockPaperScissors.PNG" alt="Rock Paper Scissors Game">
                <div class="card-body d-flex flex-column">
                  <p class="card-title h5">Rock Paper Scissors</p>
                  <p class="card-text">Rock paper scissors game. User plays against the computer.</p>
                  <p class="card-text mt-auto mr-auto"><small class="text-muted">JavaScript</small></p>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      </div>

    </div>

  </div>
</main>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>