<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid min-vh-100">
    <div class="container">
      <h1 class="display-4"><%= title %></h1>

      <div class="container text-left">
        <div class="card-deck">
          
          <div class="row g-2">
            <div class="col d-flex align-items-stretch flex-column">

              <div class="card">
                <div class="card-header">
                  <h5 class="card-title mb-0">Tic Tac Toe Game</h5>
                </div>

                <img class="card-img-top" src="images/eggs.jpg" alt="Tic Tac Toe">
                <div class="card-body">
                  <p class="card-text">Tic Tac Toe with dynamically generated board size based on user input.</p>
                  <!-- <span class="badge">C++</span> -->
                  <p class="card-text"><small class="text-muted">C++</small></p>
                </div>

                <!-- <div class="card-footer bg-transparent">
                  <p class="card-text"><small class="text-muted">C++</small></p>
                </div> -->
              </div>
            </div>

            <div class="col d-flex align-items-stretch flex-column">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title mb-0">Calendar App</h5>
                </div>
                
                <img class="card-img-top" src="images/calendar.jpg" alt="Calendar">
                <div class="card-body">
                  <!-- <h5 class="card-title">Calendar App</h5> -->
                  <p class="card-text">Generates a calender for a specified year or month.</p>
                  <p class="card-text"><small class="text-muted">C++</small></p>
                </div>

                <!-- <div class="card-footer bg-transparent">
                  <p class="card-text"><small class="text-muted">C++</small></p>
                </div> -->
              </div>
            </div>
          </div>

          <!-- <div class="w-100"></div> -->

          <div class="row g-2">
            <div class="col d-flex align-items-stretch flex-column">

              <div class="card">
                <div class="card-header">
                  <h5 class="card-title mb-0">Intersect Lists</h5>
                </div>
                
                <img class="card-img-top" src="images/chicken.jpg" alt="Intersect List">
                <div class="card-body">
                  <!-- <h5 class="card-title">Intersect Lists</h5> -->
                  <p class="card-text">Intersect two lists, outputting the intersected numbers to a new list.</p>
                  <p class="card-text"><small class="text-muted">Python</small></p>
                </div>

                <!-- <div class="card-footer bg-transparent">
                </div> -->
              </div>
            </div>
          
          
            <div class="col d-flex align-items-stretch flex-column">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title mb-0">Rock Paper Scissors</h5>
                </div>

                <img class="card-img-top" src="https://via.placeholder.com/540" alt="Image">
                <div class="card-body">
                  <!-- <h5 class="card-title">title</h5> -->
                  <p class="card-text">Rock paper scissors game. User plays against the computer.</p>
                  <p class="card-text"><small class="text-muted">JavaScript</small></p>
                </div>

                <!-- <div class="card-footer bg-transparent">
                </div> -->
              </div>
            </div>
          </div>

        </div>
      </div>

      </div>

    </div>

  </div>
</main>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>