<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid min-vh-100">
    <div class="container">
      <h1 class="display-4"><%= title %></h1>

      <!--
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tic Tac Toe Game</h5>
                <p class="card-text">Tic tac toe with a dynamically generated board size based on user input.</p>
                <img src="images/eggs.jpg" class="card-img-top" alt="Tic Tac Toe">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Calendar App</h5>
                <p class="card-text">Generates a calender based on user input. Yearly or monthly calendars can be chosen.</p>
                <img src="images/calendar.jpg" class="card-img-top" alt="Calendar">
              </div>
            </div>
          </div>
      </div>
      -->
      <div class="container text-left">
        <div class="card-deck">
          <div class="row g-0">
            <div class="col d-flex align-items-stretch">

              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Tic Tac Toe Game</h5>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Tic Tac Toe Game</h5> -->
                  <p class="card-text">Tic tac toe with a dynamically generated board size based on user input.</p>
                  <img src="images/eggs.jpg" class="card-img-top" alt="Tic Tac Toe">
                </div>
              </div>
              
            </div>

            <div class="col d-flex align-items-stretch">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Calendar App</h5>
                </div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Calendar App</h5> -->
                  <p class="card-text">Generates a calender based on user input. Yearly or monthly calendars can be chosen.</p>
                  <img src="images/calendar.jpg" class="card-img-top" alt="Calendar">
                </div>
              </div>
            </div>

          </div>


        </div>
        <div class="w-100"></div>
        <div class="row g-0">
          <div class="col d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Intersect Lists</h5>
                <p class="card-text">Interest two lists, outputting intersected numbers to new list.</p>
                <img src="images/chicken.jpg" class="card-img-top" alt="Intersect List">
              </div>
            </div>
          </div>

          <div class="col d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">title</h5>
                <p class="card-text">titletitletitletitletitletitletitletitletitletitle</p>
                <img src="https://via.placeholder.com/590x449" class="card-img-top" alt="Image">
                <p class="card-text"><small class="text-muted">C++</small></p>
              </div>
            </div>
          </div>
        </div>

        

      </div>

      <!-- Card deck with two rows all equal size -->

      <!-- <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/590x449" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/590x449" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/590x449" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div> -->
      


    </div>

    
  </div>
</main>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>